*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box2{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box3{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box4{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box5{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box6{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box7{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box8{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box9{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box10{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box11{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box12{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box13{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
.box14{
    border: 2px solid yellow;
    width: 200px;
    height: 150px;
    border-radius: 20%;   
}
h1{
    text-align: center;
    margin-top: 49px;
}
.box h1 i{
    font-size: 60px;
}
